openapi: 3.1.0
info:
  title: Cisco Webex Platform API (Collaboration Hybrid Solutions) Devices Rooms API
  description: 'Core Webex platform APIs used in Cisco Collaboration Hybrid Solutions

    deployments for messaging, meetings, teams, spaces (rooms), memberships,

    webhooks, and devices. Authentication uses OAuth 2.0 access tokens,

    personal access tokens, or service-app tokens issued via the Webex

    Developer Portal.

    '
  version: 1.0.0
  contact:
    name: Webex for Developers
    url: https://developer.webex.com/docs/api/getting-started
servers:
- url: https://webexapis.com/v1
  description: Webex APIs
security:
- bearerAuth: []
tags:
- name: Rooms
paths:
  /rooms:
    get:
      tags:
      - Rooms
      summary: List rooms (spaces)
      operationId: listRooms
      parameters:
      - in: query
        name: teamId
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
          enum:
          - direct
          - group
      - in: query
        name: sortBy
        schema:
          type: string
          enum:
          - id
          - lastactivity
          - created
      - in: query
        name: max
        schema:
          type: integer
      responses:
        '200':
          description: A list of rooms
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Room'
    post:
      tags:
      - Rooms
      summary: Create a room
      operationId: createRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomCreate'
      responses:
        '200':
          description: The created room
  /rooms/{roomId}:
    parameters:
    - in: path
      name: roomId
      required: true
      schema:
        type: string
    get:
      tags:
      - Rooms
      summary: Get room details
      operationId: getRoom
      responses:
        '200':
          description: Room details
    put:
      tags:
      - Rooms
      summary: Update a room
      operationId: updateRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomCreate'
      responses:
        '200':
          description: Updated room
    delete:
      tags:
      - Rooms
      summary: Delete a room
      operationId: deleteRoom
      responses:
        '204':
          description: Deleted
components:
  schemas:
    RoomCreate:
      type: object
      required:
      - title
      properties:
        title:
          type: string
        teamId:
          type: string
        classificationId:
          type: string
        isLocked:
          type: boolean
        isPublic:
          type: boolean
        description:
          type: string
    Room:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
          enum:
          - direct
          - group
        isLocked:
          type: boolean
        teamId:
          type: string
        lastActivity:
          type: string
          format: date-time
        creatorId:
          type: string
        created:
          type: string
          format: date-time
        ownerId:
          type: string
        classificationId:
          type: string
        isAnnouncementOnly:
          type: boolean
        isReadOnly:
          type: boolean
        isPublic:
          type: boolean
        madePublic:
          type: string
          format: date-time
        description:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2-Access-Token
